.block_auditquiz_results .footer {
    margin-top: 5px;
}

.auditquiz-parenttopic {
    font-size:1.7em;
    margin-top:10px;
}

.auditquiz-courseblock {
    margin: 5px 0px;
}

.auditquiz-mapper-catlist .course-commands {
    display:inline-block;
}

.auditquiz-results-graph {
    margin-top:20px;
}

.path-blocks-auditquiz_results .courseassigntable select {
    width:100%;
}

.path-blocks-auditquiz_results .assigncourses-instructions {
    margin:10px;
    padding:10px;
    border:1px solid #fafafa;
    border-radius:5px;
}

.course-name.shadow {
    opacity:0.5;
}

.auditquiz-html-output-passrates {
    height:20px;
    font-size: 1.3em;
}

.auditquiz-parenttopic {
    margin: 5px 0 10px 0;
}

.auditquiz-snapshots {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.auditquiz-snapshots div {
    display: inline-block;
}

.auditquiz-snapshots .snapshot-entry {
    width: 100px;
    padding-left: 10px;
}

.auditquiz-mapper-catlist .course-name {
    width: 80%;
}

.auditquiz-results-unbind {
    cursor: pointer;
}

.user-result,
.category-result {
    margin-bottom: 20px;
}

.auditquiz-results-course-report {
    text-align: center;
}

.auditquiz-results.add-courses {
    text-align: right;
}

.cat-mapping {
    margin-bottom: 20px;
}